{% extends 'base.html'%} {% block content %}

<h2 class="center">Car Details</h2>

  <div class="row">
    <div class="col s6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ car.make }}</span>
          <p>Model: {{ car.model }}</p>
          <p>Year: {{ car.year }}</p>
          <p>Description: {{ car.description }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'cars_update' car.id %}">Edit</a>
          <a href="{% url 'cars_delete' car.id %}">Delete</a>
        </div>
      </div>
    </div>
    <div class="col s6">
      <form action="{% url 'add_service' car.id %}" method="post">
        {% csrf_token %} {{ service_form.as_p }}
        <input type="submit" class="btn success" value="Add Feeding" />
      </form>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Date</th>
            <th>Service Type</th>
          </tr>
        </thead>
        <tbody>
          {% for service in car.service_set.all %}
          <tr>
            <td>{{service.date}}</td>
            <td>{{service.get_service_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
</div>
