{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cars Collector</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="blue-grey darken-1">
        <div class="nav-wrapper">
          <a class="brand-logo right" href="#">Car Collector</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>

            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'index' %}">MyCars</a>
            </li>
            <li>
              <a href="{% url 'accessories_index' %}">Accessories</a>
            </li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="blue-grey darken-1">
        <div class="container"><p>© 2021 Car Collector </p>
        </div>
      </div>
    </footer>
  </body>
</html>
